@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s 3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "San Francisco", sans-serif;
    color: #ffffff;
}

body
{
    background-image: url(bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#txt 
{
    position: relative;
    font-size: 65px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 300;
}

#currentDate 
{
    position: relative;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-style: normal;
    font-weight: 300;
}

#todayQuote 
{
    position: relative;
    font-size: 20px;
    padding-top: 80px;
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-style: normal;
    font-weight: 300;
}

#button 
{
    position: relative;
    padding-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-content: center;


}

button
{
    text-decoration: none;
    min-width: 160px;
    height: 35px;
    line-height:1.1em;
    padding: 0px 8px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    background: rgba(100, 209, 243, 0.57);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
}

#countingDay
{
    position: relative;
}
#beenGoodNight
{
    position: fixed; 
    bottom: 20px; 
    width:100%; 
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*div.container
{
    display: none;
}

@media only screen and ( max-width: 767px ) {
    div.container {
        display: block;
    }*/